<!DOCTYPE html>
<html lang="pt-pt">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>ImmersiveMind</title>
       
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/server.js"></script>
        <script src="/js/popularSessoes.js"></script>
        <script src= "/js/observacoes.js"></script>
        <script src="/js/search.js"></script>
        <script src="https://apis.google.com/js/client.js?onload=init"></script>


        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        
        
        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Bootstrap Validator -->
        <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.1.3/dist/bootstrap-validate.js" ></script>
    
        <!-- Custom styles for this template -->
        <link href="/css/managesessions.css" rel="stylesheet">
        <link href="/css/transversal.css" rel="stylesheet">
    

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        
        
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico"/>

          <!-- Fontes -->
        <style>
            @import url('https://fonts.googleapis.com/css?family=Chonburi');
            @import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
            @import url('https://fonts.googleapis.com/css?family=Passion+One');
            @import url('https://fonts.googleapis.com/css?family=Muli');
        </style>

    </head>

    <body>
        
        <div id="loader"></div>
      <div style="display:none;" id="allPageActivity">
         <!-- ***********************************************NAVBAR E TRALHA*************************************************** -->
    <!-- Navigation -->

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand py-0" href="frontpage">  <img class="img-responsive" width="50px" height="" src="images/brain-logo-off.png"></a>
            <p class="navbar-text text-uppercase">ImmersiveMind</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" style="z-index: 1" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span> </button>
    
              <!-- Aqui começam as opções do menu -->    

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                        <li class="dropdown">
                            <a href="#" id="primeiroultimonome" class="dropdown-toggle textuser" data-toggle="dropdown">Olá, Ana Li <b class="caret"></b></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" id="logout" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Logout <i class="fas fa-sign-out-alt"></i></a></li>
                            </ul>
                        </li>
                </ul>
            </div>
        </nav>
 
        <!-- Popup do LOGOUT -->
        <div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Sair de ImmersiveMind?</h4>
                </div>
                <div class="modal-body text-center">


                    <img class="img-responsive center" width="100px" height="" src="images/brain-logo-off-inverted.png">
                <p></p>
                    <div class="row">
                        <div class="col-sm-6">
                           <button data-dismiss="modal" class="btn btn-default btn-lg btn-block button-popup-success">Ficar :)</button> 
                        </div>
                        <div class="col-sm-6">
                            <button data-dismiss="modal" onclick="Logout()" class="btn btn-default btn-lg btn-block button-popup-fail">Sair :(</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!--page Content --> 
        <div class="container-fluid">
    
            <!-- BREADCRUMB-->

            <div class="btn btn-default btn-arrow-right"><a href="frontpage"><i class="fas fa-home bread"></i></a></div>
            <div class="btn btn-default btn-arrow-right"><a href="" class="bread">Gerir Sessões</a></div>
            <!--<div class="btn btn-default btn-arrow-right">Danger</div>-->
        
 <!-- ******************************************************************************************************************* -->

        <!-- Team Members Row -->
            <p></p>
        <div class="row" id="rowsessoes">
           <!--<div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
              </h3>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
              </h3>
            </div>-->
          </div>

    </div>
 <!-- /.container -->

<!------------------------- Popup dAS sessoes --------------------------->
    <div class="modal fade popup-plus" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="tabbable">
            <div class="modal-header">
                <!--<h2 class="modal-title w-100 font-weight-bold modal-titulo" id="utente-titulo">Novo Utente</h2>-->
                
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a id="tabDados" class="nav-link active" data-toggle="tab" href="#dados-sessao">Dados da Sessão</a></li>
                    <li class="nav-item disabled" id="tabBalancoFinal">
                        <a id="tabObs" class="nav-link" data-toggle="tab" href="#obs-sessao" onclick="Observacoes()">Balanço Final</a></li>
                </ul>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetModalSessao()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="formaddsession">
                <div class="tab-content">
                    
                    <div id="dados-sessao" class="tab-pane fade show active">
                <div class="form-group">
                    <label for="inputsessaonome">Nome da Sessão (opcional)</label>
                    <input type="text" id="sessaoNome" class="form-control" placeholder="p.e.: Música Portuguesa">
                </div>
                
                <div class="form-group">
                    <label for="inputdata">Data de realização (opcional)</label>
                    <input type="date" id="diaid" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="inpututente">Escolha o utente</label>
                    <select class="form-control" id="utenteid">
                        <option selected>- Nenhum -</option>
                        <option>Zé Maria</option>
                        <option>Maria Josefina</option>
                        <option>Carlos Pinto</option>
                        <option>Ana Neves</option>
                        <option>Luísa Esteves</option>
    </select>
                </div>
    
                
                <div class="form-group" id="popularcategorias">
                    <!-- FEITO NO POPULAR SESSOES NA FUNÇÃO ChamarCategorias() -->
                </div>
                
                <!------------------------------------------------------------------>
                <!--                    PROCURAR VÍDEOS                           -->
                <!------------------------------------------------------------------>        
                <div class="form-group">
                    <label for="input360link">Procurar vídeos 360º (opcional)</label>
                    
                    <!------------------------- SEARCH BAR --------------------->
                    <div class="input-group">
                        <input class="form-control py-2 border-right-0 border searchs" type="search" value="" id="search-input" placeholder="Procure vídeos e seleccione os que quer visualizar">
                            <span class="input-group-append">
                                <div class="input-group-text"><a class="searchbutton" onclick="search_list_sessao()"><i class="fa fa-search"></i></a></div>
                            </span>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="results" class="form-group" align=center>
                            </div>
                        </div>
                    </div>
                    <div id="meusVideos" class="input-group" style="display: none">
                        <label >Os meus vídeos: </label>
                        <div  class="row">
                            <div class="col-lg-12">
                                <div id="videosSelecionados" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------------------------------------------>
                
                <div class="form-group">
                    <label>Escolha uma imagem (opcional)</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file"><i class="fas fa-search"></i> 
                            Procurar...<input type="file" id="imgInp">
                            </span>
                        </span>
                        <input type="text" class="form-control box-img" id="imagelabel" readonly>
                    </div>
                    <p></p>
                        <img class="img-fluid rect_preview d-block mx-auto" id='img-upload' style="background-image: url(images/bolinhas_default.png)"/>
                </div>

            </div>
                    <!------------------------------------------------------------------>
                    <!--                        OBSERVACOES                           -->
                    <!------------------------------------------------------------------>
                    <div id="obs-sessao" class="tab-pane fade">
                        <div class= "form-group">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0px;">
                                    <label for="" id="tempoid"><h4>Duração da Sessão</h4></label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4" style="padding-right: 0px; text-align: center">
                                    <h4 id="difftime">00:00:00</h4>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <h4 id="estimulacao_cognitiva">Estimulação Cognitiva</h4>
                        </div>
                        
                        <div class="form-group">
                            <label style="font-weight: bold">Reconhecimento dos objectos visualizados:</label>
                            <p class="small"></p>
                            <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="reconhecimentoradio" id="1reconhecimento" value="1">1 <p>Nenhum objecto</p></label>
                            <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="reconhecimentoradio" id="2reconhecimento" value="2">2</label>
                            <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="reconhecimentoradio" id="3reconhecimento" value="3">3</label>
                            <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="reconhecimentoradio" id="4reconhecimento" value="4">4</label>
                            <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="reconhecimentoradio" id="5reconhecimento" value="5">5 <p>Todos os objectos</p></label>
                        </div>
                        
                        <div class="form-group">
                            <label style="font-weight: bold">Alterações de humor:</label>
                            <p class="small"></p>
                            <div class="row">
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="humorradio" id="1humor" value="1">1 <p>Muitas alterações</p></label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="humorradio" id="2humor" value="2">2</label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="humorradio" id="3humor" value="3">3</label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="humorradio" id="4humor" value="4">4</label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="humorradio" id="5humor" value="5">5 <p>Sem alteração</p></label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label style="font-weight: bold">Interesse durante a sessão:</label>
                            <p class="small"></p>
                            <div class="row">
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="interesseradio" id="1interesse" value="1">1 <p>Sem interesse</p></label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="interesseradio" id="2interesse" value="2">2</label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="interesseradio" id="3interesse" value="3">3</label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="interesseradio" id="4interesse" value="4">4</label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="interesseradio" id="5interesse" value="5">5 <p>Muito interessado</p></label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label style="font-weight: bold">Interacção entre o cuidador e o utente:</label>
                            <p class="small"></p>
                            <div class="row">
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="interaccaoradio" id="1interesse" value="1">1<p>Nenhuma interacção</p></label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="interaccaoradio" id="2interesse" value="2">2</label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="interaccaoradio" id="3interesse" value="3">3</label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="interaccaoradio" id="4interesse" value="4">4</label>
                                <label class="radio-inline col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="radio" name="interaccaoradio" id="5interesse" value="5">5<p>Muita interacção</p></label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <h4 id="estimulacao_cognitiva">Alterações Fisiológicas</h4>
                        </div>
                        
                        <div class="form-group">
                            <label style="font-weight: bold">Náuseas:</label>
                            <p class="small"></p>
                            <div class="row" style="text-align: center">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="radio-inline"><input type="radio" name="nauseasradio" id="SimNauseas" value="1">Sim</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="radio-inline"><input type="radio" name="nauseasradio" id="NaoNauseas" value="0">Não</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label style="font-weight: bold">Desequilíbrios:</label>
                            <p class="small"></p>
                            <div class="row" style="text-align: center">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="radio-inline"><input type="radio" name="desequilibriosradio" id="SimDesequilibrios" value="1">Sim</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                    <label class="radio-inline"><input type="radio" name="desequilibriosradio" id="NaoDesequilibrios" value="0">Não</label>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label style="font-weight: bold">Perturbações visuais:</label>
                            <p class="small" style="color: red" id="olhs"></p>
                            <div class="row">
                                <label class="checkbox-inline checkbox-inline2 col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="checkbox" value="OlhosChorosos" id="OlhosChorosos" name="Olhos">Olhos chorosos</label>
                                <label class="checkbox-inline checkbox-inline2 col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="checkbox" value="OlhosSecos" id="OlhosSecos" name="Olhos">Olhos secos</label>
                                <label class="checkbox-inline checkbox-inline2 col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="checkbox" value="OlhosCansados" id="OlhosCansados" name="Olhos">Olhos doridos</label>
                                <label class="checkbox-inline checkbox-inline2 col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="checkbox" value="OlhosCansados" id="OlhosCansados" name="Olhos">Olhos cansados</label>
                                <label class="checkbox-inline checkbox-inline2 col-lg-5ths col-md-5ths col-sm-5ths col-xs-5ths"><input type="checkbox" value="Nada" id="OlhosNada" name="Olhos">Nada</label>
                            </div>
                        </div>
                            
                      <div class="form-group">
                          <label style="font-weight: bold">Outras observações relevantes:</label>
                            <textarea class="form-control" rows="3" id="ObservacoesRelevantes" placeholder="p.e.: O que gostou mais/menos"></textarea>
                        </div>
                </div>
                        
                        
                        
                    </div>
                
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                
                <!-- Botões Adicionar/Guardar - Apagar - Terminar - Cancelar -->
                <div class="row">
                        <div class="col-sm-6" id="botaoAdicionar">
                           <button data-dismiss="modal" onclick="AddSession()" class="btn btn-default btn-lg btn-block button-popup-success" id="addsession"><i class="fas fa-plus-circle"></i> Adicionar</button> 
                        </div>
                        
                        <div class="col-sm-3" style="display: none;" id="botaoIniciar">
                            <button onclick="window.location='activity'" data-dismiss="modal" class="btn btn-default btn-lg btn-block button-popup-success-iniciar btn-size" id='botaoMesmoIniciar'><i class="fas fa-play-circle"></i> Iniciar</button>
                        </div>
                    
                        <div class="col-sm-3" style="display: none;" id="botaoApagar">
                            <button data-dismiss="modal" onclick="DeleteSessao()" class="btn btn-default btn-lg btn-block button-popup-fail btn-size" ><i class="fas fa-trash-alt"></i> Apagar</button>
                        </div>
                    
                        <div class="col-sm-6" id="botaoCancelar">
                            <button data-dismiss="modal" onclick="resetModalSessao()" class="btn btn-default btn-lg btn-block button-popup-fail" id="cancelsession"><i class="fas fa-times-circle"></i> Cancelar</button>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>

 
        
        <!-- Popup do tempo -->
        <div class="modal fade success-popup" id="ModalTime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="col-12 modal-title text-center" id="myModalLabel">Aviso!</h4>
                </div>
                <div class="modal-body text-center">

                    
                    <img class="img-responsive center" width="100px" height="" src="images/warning-img-yellow.png">
                    <p></p>
                    <h5 style="font-weight: bold">Estas sessões estão prestes a expirar (menos de 24h):</h5>
                    <div class="row">
                        
                        <div class="col-12" style="text-align: left" id="infodatas">
                           <p>Nenhuma</p> 
                        </div>
                    </div>
                    <h5 style="font-weight: bold">Estas sessões já expiraram:</h5>
                    <div class="row">
                        
                        <div class="col-12" style="text-align: left" id="infodatasexpiradas">
                           <p>Nenhuma</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button data-dismiss="modal" class="btn btn-default btn-lg btn-block button-popup-success"><i class="fas fa-check-circle"></i> Compreendi</button>
                </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
