<div style="margin-top: 5px">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <img class="thumbnail_my_videos" src="https://i.ytimg.com/vi/{{videoId}}/hqdefault.jpg">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 col-6 textsmaller" style="text-align: left">
            <p>{{title}}</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1" style="text-align: right; display: flex; align-items:center;">
            <i class="fas fa-trash-alt" onclick='deleteFromArray("{{title}}", "{{videoId}}")' style="font-size: 20px"></i>
        </div>
    </div>
</div> 