<div class="item">
    <div class="row">
        <div class="col-lg-12 col12_thumbnail">
            <img class="thumbnail_search" src="https://i.ytimg.com/vi/{{videoId}}/hqdefault.jpg">
        </div>
    </div>
         <div class="row">
            <div class="col-lg-12 col12_text">
                <p></p><label class="container container_text">
                        <input  type="checkbox" onclick="saveVideoIfChecked(this, '{{videoId}}', '{{titleEscaped}}')"><span class="checkmark vidInput" id="{{videoId}}"></span>
                        <p class="titlesearch">&emsp;{{title}}</p></label>
                </div>
            </div>
  </div>  
